<div class="cont comics_cont" *ngFor="let c of comics">
  <a [routerLink]="['/comics', c.id]"><img [attr.alt]="c.name" [attr.src]="c.pic"></a>
  <ul>
    <li class="title"><a [routerLink]="['/comics', c.id]">{{c.name}}</a></li>
    <li>Type: {{c.type_name}}</li>
    <li>Genre(s): {{c.genre}}</li>
    <li>Author: {{c.author}}</li>
    <li>Published: {{c.published}}</li>
    <li>Duration: {{c.duration}}</li>
    <li>Status: {{c.status}}</li>
    <li>Rating: {{c.rating}}</li>
    <li>Synopsys: {{c.description}}</li>
    <li><button (click)="addToList(c)">Add to list</button></li>
  </ul>
</div>
