*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  border: 1px solid red;
  text-align: left;
}

img{
  max-width: 200px;
}

ul{
  width: 100%;
}

li{
  list-style: none;
  padding-right: 10px;
}

table, tr{
  border: 1px solid blueviolet;
  width: 100%;
}

.cont{
  border: 1px solid blue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#top-bar{
  background-color: cornflowerblue;
}

#sign-log{
  width: fit-content;
  justify-content: space-between;
}

.hor-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#top-list{
  display: flex;
  flex-direction: column;
}

.top-list-item{
  border: 1px solid green;
  width: 90%;
}

.cont-item{
  border: 1px solid grey;
  justify-content: space-between;
  padding-bottom: 10px;
}

.bundle{
  border: 1px solid red;
  width: 200px;
  height: 280px;
  margin: 5px;
}
