<div class="cont authorization">
  <form>
    <ul>
      <li>
        <label for="email">Email</label>
        <input type="text" id="email">
      </li>
      <li>
        <label for="username">Username</label>
        <input type="text" id="username">
      </li>
      <li>
        <label for="password">Password</label>
        <input type="text" id="password">
      </li>
      <li>
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Show password</label>
      </li>
      <li><button>Create account</button></li>
    </ul>
  </form>
</div>
